/notes/*

# Latex Artifacts
src/main.acn
src/main.aux
src/main.bbl
src/main.blg
src/main.fdb_latexmk
src/main.fls
src/main.glo
src/main.ist
src/main.loa
src/main.lof
src/main.log
src/main.lol
src/main.lot
src/main.out
src/main.pdf
src/main.toc
src/pdfa.xmpi
main.aux
main.fdb_latexmk
main.fls
main.log

slides/main.acn
slides/main.aux
slides/main.bbl
slides/main.blg
slides/main.fdb_latexmk
slides/main.fls
slides/main.glo
slides/main.ist
slides/main.loa
slides/main.lof
slides/main.log
slides/main.lol
slides/main.lot
slides/main.out
slides/main.pdf
slides/main.toc
slides/main.nav
slides/main.snm
slides/pdfa.xmpi
main.aux
main.fdb_latexmk
main.fls
main.log
